In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\ram14\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ram14\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ram14\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: tzdata>=2022.1 in c:\users\ram14\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\ram14\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\ram14\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [5]:
simpsons=pd.read_html('https://en.wikipedia.org/wiki/List_of_The_Simpsons_episodes')

In [6]:
len(simpsons)

16

In [7]:
type(simpsons)

list

In [9]:
simpsons[2]

,Title,Directed by,Written by,Original release date
0,The Force Awakens from Its Nap,David Silverman,"Joel H. Cohen, Al Jean & Michael Price","May 4, 2021"
1,"The Good, the Bart, and the Loki",David Silverman,"Elisabeth Kiernan Averick, Jessica Conrad, Joh...","July 7, 2021"
2,Plusaversary,David Silverman,"Joel H. Cohen, Jessica Conrad, Al Jean, Loni S...","November 12, 2021"
3,When Billie Met Lisa,David Silverman,"Elisabeth Kiernan Averick, Broti Gupta, Al Jea...","April 22, 2022"
4,Welcome to the Club,David Silverman,"J. Stewart Burns, Joel H. Cohen, Al Jean, Chri...","September 8, 2022"
5,The Simpsons Meet the Bocellis in 'Feliz Navidad',David Silverman,"Joel H. Cohen, Al Jean, Ryan Koh & David Mirkin","December 15, 2022"
6,Rogue Not Quite One,David Silverman,"Al Jean, Ryan Koh, Loni Steele Sosthand, Dan V...","May 4, 2023"
7,May the 12th Be with You,David Silverman,"Joel H. Cohen, Al Jean, Ryan Koh, David Mirkin...","May 10, 2024"
8,The Most Wonderful Time of the Year,David Silverman,"J. Stewart Burns, Dan Greaney, Broti Gupta & A...","October 11, 2024"

In [10]:
football_dt=pd.read_csv('https://www.football-data.co.uk/mmz4281/2324/E3.csv')

In [12]:
type(football_dt)

pandas.core.frame.DataFrame

In [13]:
football_dt

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E3,05/08/2023,15:00,Accrington,Newport County,3,0,H,1,0,...,1.74,-0.25,2.00,1.80,2.07,1.83,2.12,1.83,2.05,1.75
1,E3,05/08/2023,15:00,Crawley Town,Bradford,1,0,H,1,0,...,1.77,0.50,1.90,1.95,1.91,1.98,1.94,1.99,1.86,1.92
2,E3,05/08/2023,15:00,Crewe,Mansfield,2,2,D,1,2,...,1.94,0.50,2.00,1.85,2.01,1.88,2.06,1.89,1.96,1.82
3,E3,05/08/2023,15:00,Doncaster,Harrogate,0,1,A,0,0,...,1.78,-0.25,2.03,1.83,2.05,1.85,2.08,1.88,1.99,1.80
4,E3,05/08/2023,15:00,Forest Green,Salford,0,2,A,0,0,...,1.88,0.25,1.80,2.05,1.85,2.04,1.85,2.11,1.78,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E3,27/04/2024,15:00,Gillingham,Doncaster,2,2,D,0,2,...,2.11,0.25,1.83,2.03,1.85,2.05,2.00,2.06,1.85,1.95
548,E3,27/04/2024,15:00,Milton Keynes Dons,Sutton,4,4,D,2,0,...,2.68,-0.25,1.75,2.05,1.82,2.07,1.83,2.14,1.80,2.01
549,E3,27/04/2024,15:00,Salford,Harrogate,2,2,D,2,2,...,2.46,-0.75,1.93,1.93,1.98,1.91,2.02,1.97,1.90,1.90
550,E3,27/04/2024,15:00,Swindon,Morecambe,3,3,D,2,2,...,2.84,-1.25,2.03,1.83,2.04,1.85,2.04,1.85,1.99,1.80
551,E3,27/04/2024,15:00,Wrexham,Stockport,2,1,H,0,1,...,2.33,-0.25,1.95,1.90,1.96,1.89,2.10,1.95,1.93,1.86

In [18]:
football_dt.rename(columns={'B365CAHH':'demo1','B365CAHA':'demo2'},inplace=True)

In [19]:
football_dt

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,demo1,demo2,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E3,05/08/2023,15:00,Accrington,Newport County,3,0,H,1,0,...,1.74,-0.25,2.00,1.80,2.07,1.83,2.12,1.83,2.05,1.75
1,E3,05/08/2023,15:00,Crawley Town,Bradford,1,0,H,1,0,...,1.77,0.50,1.90,1.95,1.91,1.98,1.94,1.99,1.86,1.92
2,E3,05/08/2023,15:00,Crewe,Mansfield,2,2,D,1,2,...,1.94,0.50,2.00,1.85,2.01,1.88,2.06,1.89,1.96,1.82
3,E3,05/08/2023,15:00,Doncaster,Harrogate,0,1,A,0,0,...,1.78,-0.25,2.03,1.83,2.05,1.85,2.08,1.88,1.99,1.80
4,E3,05/08/2023,15:00,Forest Green,Salford,0,2,A,0,0,...,1.88,0.25,1.80,2.05,1.85,2.04,1.85,2.11,1.78,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E3,27/04/2024,15:00,Gillingham,Doncaster,2,2,D,0,2,...,2.11,0.25,1.83,2.03,1.85,2.05,2.00,2.06,1.85,1.95
548,E3,27/04/2024,15:00,Milton Keynes Dons,Sutton,4,4,D,2,0,...,2.68,-0.25,1.75,2.05,1.82,2.07,1.83,2.14,1.80,2.01
549,E3,27/04/2024,15:00,Salford,Harrogate,2,2,D,2,2,...,2.46,-0.75,1.93,1.93,1.98,1.91,2.02,1.97,1.90,1.90
550,E3,27/04/2024,15:00,Swindon,Morecambe,3,3,D,2,2,...,2.84,-1.25,2.03,1.83,2.04,1.85,2.04,1.85,1.99,1.80
551,E3,27/04/2024,15:00,Wrexham,Stockport,2,1,H,0,1,...,2.33,-0.25,1.95,1.90,1.96,1.89,2.10,1.95,1.93,1.86